@import "./vars.css";

.dropdown {
  position: relative;
  display: inline-block;
}

button {
  color: var(--color-white);
  font-size: 1.4rem;
  font-weight: 500;
  font-family: Inter var, Inter, ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}
.dropdownToggle {
  background-color: var(--color-red);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  margin-left: 0.8rem;
  transition: transform 0.3s ease;
}

.arrowOpen {
  transform: translate(0, 4px) rotate(180deg);
}

.dropdownMenu {
  position: absolute;
  margin-top: 2.2rem;
  color: rgb(30 41 59);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  z-index: 1;
  opacity: 0;
  border-radius: 10px;
  scale: 0;
  transition: opacity 0.2s ease, transform 0.2s ease;
  pointer-events: none;
  padding: 0.8rem;
}

li {
  list-style: none;
}

svg {
  fill: var(--color-white);
}

.dropdownMenuOpen {
  opacity: 1;
  scale: 1;
  transform: translate(scale(0));
  pointer-events: auto;
}

.dropdownItem {
  padding: 0.8rem 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}

.dropdownItem:hover {
  background-color: #dddddd5e;
}
