@import "./vars.css";

.header {
  height: 4.8rem;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: rgb(210 65 21);
  color: var(--color-white);
}

a {
  color: var(--color-white);
}

img {
  margin-top: 0.5rem;
  margin-right: 0.2rem;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 9999px;
}

.leftnav {
  display: flex;
  gap: 1.2rem;
  cursor: pointer;
  height: 100%;
  align-items: center;
}

.rightnav {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

span {
  display: inline-block;
}

.wrapper {
  display: flex;
  padding: 0 1.6rem;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.banner {
  height: 4.6rem;
  font-size: 1.4rem;
  color: rgb(255 255 255);
  background-color: rgb(30 41 59);
}

.navBtn {
  border-radius: 4px;
  border: 1px solid white;
  padding: 0.4rem;
}
.phone {
  padding: 0 1rem;
  cursor: pointer;
}

.phone svg {
  margin-top: 2px;
  width: 2rem;
  height: 2rem;
}
.ham {
  display: flex;
  gap: 1.2rem;
  cursor: pointer;
}

.ham svg {
  margin-top: 2px;
  width: 2rem;
}

.redball {
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  background-color: rgb(220 38 38);
  border: 1px solid white;
}
