.container {
  max-width: 153.6rem;
  margin: 0 auto;
  height: 4.6rem;
  background-color: white;
  display: flex;
  /* gap: 2rem; */
  padding: 0.5rem 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  height: 80%;
  width: auto;
  margin-bottom: 0.5rem;
  padding: 0.2rem 1.6rem;
}

.loginBtn {
  border: none;
  background-color: rgb(234 88 12);
  padding: 0.5rem 1rem;
  border-radius: 6px;
  margin-right: 1.6rem;
  margin-left: auto;
}
