.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.dropdownContainer {
  position: absolute;
  top: 5rem;
  display: none;
  width: 27rem;
  height: 60vh;
  background-color: #fff;
  z-index: 10;
  border-radius: 10px;
}

.show {
  display: block;
}

.dropdown {
  position: relative;
}

.select {
  font-size: 1.6rem;
  background-color: #fff;
  cursor: pointer;
  padding: 1.5rem 0;
  cursor: pointer;
  height: 100%;
  border-radius: 10px;
}

.option {
  cursor: pointer;
  position: relative;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.option svg {
  fill: rgba(0, 0, 0, 0.651);
  margin-right: 1rem;
}

.option:hover svg {
  fill: rgb(234 88 12);
}

.option:hover {
  background-color: #f0f0f0;
  color: rgb(234 88 12);
}

.submenu {
  z-index: 10;
  font-size: 1.6rem;
  border-radius: 0px 10px 10px 0;
  background-color: #fff;
  padding: 1.5rem 0;
  cursor: pointer;
  position: absolute;
  width: 27rem;
  height: 60vh;
  top: 5rem;
  left: 26rem;
  overflow-y: auto;
  border-left: 1px solid #e5e7eb;
}

.submenu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.submenu li {
  cursor: pointer;
}

.submenu li:hover {
  background-color: #f0f0f0;
  border-radius: 0;
}

.selected {
  width: 100%;
  height: 100%;
  background-color: blue;
  color: rgb(30 41 59);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  border-right: 1px solid #e5e7eb;
  font-size: 1.2rem;
  white-space: nowrap;
  font-weight: 500;
  font-family: Inter var, Inter, ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.selected:first-child {
  padding: 0 1rem;
}

.selected svg {
  fill: rgb(30 41 59);
}
